USE [Login]
GO
/****** Object:  Table [dbo].[Inmobiliaria]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inmobiliaria](
	[Idinmobiliaria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NULL,
	[Email] [varchar](500) NULL,
	[Telefono] [int] NULL,
	[Direccion] [varchar](500) NULL,
	[imagenInmobiliaria] [varchar](500) NULL,
	[IdUsuario] [int] NOT NULL,
	[Comision] [varchar](50) NULL,
 CONSTRAINT [PK_Inmobiliaria] PRIMARY KEY CLUSTERED 
(
	[Idinmobiliaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propiedades]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propiedades](
	[IdPropiedad] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[tipoPropiedad] [varchar](500) NULL,
	[Precio] [int] NULL,
	[Ambiente] [int] NULL,
	[ImagenPropiedad] [varchar](1000) NULL,
	[IdDireccion] [int] NULL,
	[IdInmobiliaria] [int] NULL,
 CONSTRAINT [PK_Propiedades] PRIMARY KEY CLUSTERED 
(
	[IdPropiedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](500) NOT NULL,
	[Altura] [int] NOT NULL,
	[Barrio] [varchar](500) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [varchar](1000) NULL,
 CONSTRAINT [PK_Ubicacion] PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Email] [varchar](1000) NULL,
	[Telefono] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inmobiliaria] ON 

INSERT [dbo].[Inmobiliaria] ([Idinmobiliaria], [Nombre], [Email], [Telefono], [Direccion], [imagenInmobiliaria], [IdUsuario], [Comision]) VALUES (7, N'Estudio de Agrimensura - Agrimensor Palacios', N'lucas.j.palacios@gmail.com', 65049220, N'C. 71 1050, Ringuelet', N'content/uploads/2016/08/depto.jpg', 1, N'1000')
INSERT [dbo].[Inmobiliaria] ([Idinmobiliaria], [Nombre], [Email], [Telefono], [Direccion], [imagenInmobiliaria], [IdUsuario], [Comision]) VALUES (9, N'Lucas Sanchez Constructora', N'lucas.sanchez@gmail.com', 35415260, N'Av. los Olmos 232', N'https://images.homify.com/images/a_0,c_fit,f_auto,q_auto,w_554/v1512601972/p/photo/image/2350734/DSC_0453-Editar-Editar/fotos-de-livings-de-estilo-moderno-de-bhavana.jpg', 2, N'12000')
INSERT [dbo].[Inmobiliaria] ([Idinmobiliaria], [Nombre], [Email], [Telefono], [Direccion], [imagenInmobiliaria], [IdUsuario], [Comision]) VALUES (11, N'Estilo Leal', N'estiloelal1@gmail.com', 22914592, N'Camargo 870', N'https://media-cdn.tripadvisor.com/media/vr-splice-https://www.infobae.com/new-resizer/YaTBVrRJ8WC2wkao0xMRqkdF5sU=/arc-anglerfish-arc2-prod-infobae/public/5HOAQMBWMFHQJO7QY32CQHFEVY.jpg', 3, N'11111')
SET IDENTITY_INSERT [dbo].[Inmobiliaria] OFF
GO
SET IDENTITY_INSERT [dbo].[Propiedades] ON 

INSERT [dbo].[Propiedades] ([IdPropiedad], [Descripcion], [tipoPropiedad], [Precio], [Ambiente], [ImagenPropiedad], [IdDireccion], [IdInmobiliaria]) VALUES (5, N'Espectacular casa en venta en Belgrano Chico, con una ubicación privilegiada a metros de Av. Del Libertador. La propiedad cuenta con un amplio jardín con piscina, un garage para dos autos y cuatro dormitorios, dos de ellos en suite.', N'Casa', 500000, 4, N'https://imgar.zonapropcdn.com/avisos/1/00/52/51/00/09/720x532/1885325556.jpg', 3, 7)
INSERT [dbo].[Propiedades] ([IdPropiedad], [Descripcion], [tipoPropiedad], [Precio], [Ambiente], [ImagenPropiedad], [IdDireccion], [IdInmobiliaria]) VALUES (6, N'Moderno PH en alquiler en Palermo, con una ubicación ideal a metros de Av. Santa Fe. La propiedad cuenta con una terraza con vistas a la ciudad, un balcón, tres dormitorios y una cocina independiente.', N'PH', 450000, 3, N'https://imgar.zonapropcdn.com/avisos/1/00/52/36/64/70/720x532/1882095407.jpg', 4, 9)
INSERT [dbo].[Propiedades] ([IdPropiedad], [Descripcion], [tipoPropiedad], [Precio], [Ambiente], [ImagenPropiedad], [IdDireccion], [IdInmobiliaria]) VALUES (7, N'Práctico departamento en venta en Recoleta, con una ubicación privilegiada a metros de la Plaza Francia. La propiedad cuenta con un balcón, dos dormitorios y cocheras.', N'Departamento', 300000, 2, N'https://imgar.zonapropcdn.com/avisos/1/00/52/50/42/83/720x532/1885193234.jpg', 5, 11)
SET IDENTITY_INSERT [dbo].[Propiedades] OFF
GO
SET IDENTITY_INSERT [dbo].[Ubicacion] ON 

SET IDENTITY_INSERT [dbo].[Ubicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Contraseña], [Nombre], [Email], [Telefono]) VALUES (1, N'Juanito', N'123456', N'Juan', N'juanito@gmail.com', 658123)
INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Contraseña], [Nombre], [Email], [Telefono]) VALUES (2, N'Mariana', N'654321', N'Maria', N'mariana@gmail.com', 234463)
INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Contraseña], [Nombre], [Email], [Telefono]) VALUES (3, N'Pedrito', N'abc123', N'Pedro', N'pedrito@gmail.com', 342545)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Inmobiliaria]  WITH CHECK ADD  CONSTRAINT [FK_Inmobiliaria_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Inmobiliaria] CHECK CONSTRAINT [FK_Inmobiliaria_Usuario]
GO
ALTER TABLE [dbo].[Propiedades]  WITH CHECK ADD  CONSTRAINT [FK_Propiedades_Inmobiliaria] FOREIGN KEY([IdInmobiliaria])
REFERENCES [dbo].[Inmobiliaria] ([Idinmobiliaria])
GO
ALTER TABLE [dbo].[Propiedades] CHECK CONSTRAINT [FK_Propiedades_Inmobiliaria]
GO
ALTER TABLE [dbo].[Propiedades]  WITH CHECK ADD  CONSTRAINT [FK_Propiedades_Ubicacion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Ubicacion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Propiedades] CHECK CONSTRAINT [FK_Propiedades_Ubicacion]
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD  CONSTRAINT [FK_Ubicacion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Ubicacion] CHECK CONSTRAINT [FK_Ubicacion_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPropiedad]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarPropiedad]
@IdPropiedad INT,
@Descripcion VARCHAR(255),
@TipoPropiedad VARCHAR(50),
@Precio INT,
@Ambiente VARCHAR(50),
@ImagenPropiedad VARCHAR(255),
@IdDireccion INT,
@IdInmobiliaria INT
AS
BEGIN

UPDATE Propiedades
SET
  Descripcion = @Descripcion,
  TipoPropiedad = @TipoPropiedad,
  Precio = @Precio,
  Ambiente = @Ambiente,
  ImagenPropiedad = @ImagenPropiedad,
  IdDireccion = @IdDireccion,
  IdInmobiliaria = @IdInmobiliaria
WHERE
  IdPropiedad = @IdPropiedad;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
@IdUsuario INT,
@UserName VARCHAR(50),
@Contraseña VARCHAR(50),
@Nombre VARCHAR(50),
@Email VARCHAR(50),
@Telefono INT
AS
BEGIN

UPDATE Usuario
SET
  UserName = @UserName,
  Contraseña = @Contraseña,
  Nombre = @Nombre,
  Email = @Email,
  Telefono = @Telefono
WHERE
  IdUsuario = @IdUsuario;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPropiedad]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarPropiedad]
@IdPropiedad INT
AS
BEGIN

DELETE FROM Propiedades
WHERE
  IdPropiedad = @IdPropiedad;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
@IdUsuario INT
AS
BEGIN

DELETE FROM Usuario
WHERE
  IdUsuario = @IdUsuario;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarInmobiliaria]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarInmobiliaria]
@IdInmobiliaria INT,
@Nombre VARCHAR(50),
@Email VARCHAR(50),
@Telefono INT,
@Direccion VARCHAR(255),
@ImagenInmobiliaria VARCHAR(255),
@Comision INT,
@IdUsuario INT
AS
BEGIN

INSERT INTO Inmobiliaria
(
  IdInmobiliaria,
  Nombre,
  Email,
  Telefono,
  Direccion,
  ImagenInmobiliaria,
  Comision,
  IdUsuario
)
VALUES
(
  @IdInmobiliaria,
  @Nombre,
  @Email,
  @Telefono,
  @Direccion,
  @ImagenInmobiliaria,
  @Comision,
  @IdUsuario
);

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPropiedad]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarPropiedad]
@IdPropiedad INT,
@Descripcion VARCHAR(255),
@TipoPropiedad VARCHAR(50),
@Precio INT,
@Ambiente VARCHAR(50),
@ImagenPropiedad VARCHAR(255),
@IdDireccion INT,
@IdInmobiliaria INT
AS
BEGIN

INSERT INTO Propiedades
(
  IdPropiedad,
  Descripcion,
  TipoPropiedad,
  Precio,
  Ambiente,
  ImagenPropiedad,
  IdDireccion,
  IdInmobiliaria
)
VALUES
(
  @IdPropiedad,
  @Descripcion,
  @TipoPropiedad,
  @Precio,
  @Ambiente,
  @ImagenPropiedad,
  @IdDireccion,
  @IdInmobiliaria
);

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUbicacion]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUbicacion]
@IdDireccion INT,
@IdUsuario INT,
@Calle VARCHAR(500),
@Altura INT,
@Barrio VARCHAR(50),
@Descripcion VARCHAR(255)
AS
BEGIN

INSERT INTO Ubicacion
(
  IdDireccion,
  IdUsuario,
  Calle,
  Altura,
  Barrio,
  Descripcion
)
VALUES
(
  @IdDireccion,
  @IdUsuario,
  @Calle,
  @Altura,
  @Barrio,
  @Descripcion
);

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
@IdUsuario INT,
@UserName VARCHAR(50),
@Contraseña VARCHAR(50),
@Nombre VARCHAR(50),
@Email VARCHAR(50),
@Telefono VARCHAR(50)

AS
BEGIN

INSERT INTO Usuario
(
  IdUsuario,
  UserName,
  Contraseña,
  Nombre,
  Email,
  Telefono
)
VALUES
(
  @IdUsuario,
  @UserName,
  @Contraseña,
  @Nombre,
  @Email,
  @Telefono
);

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_propiedad]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_propiedad]
@IdPropiedad INT
AS
BEGIN

SELECT
  IdPropiedad,
  Descripcion,
  tipoPropiedad,
  Precio,
  Ambiente,
  ImagenPropiedad,
  IdDireccion,
  IdInmobiliaria
FROM
  Propiedades p
WHERE
  IdPropiedad = @IdPropiedad

END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_propiedades_precio]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_propiedades_precio]
@precio INT
AS
BEGIN

SELECT
  IdPropiedad,
  Descripcion,
  tipoPropiedad,
  Precio,
  Ambiente,
  ImagenPropiedad,
  IdDireccion,
  IdInmobiliaria
FROM
  Propiedades p
WHERE
  Precio = @precio

END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_propiedades_tipo]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_propiedades_tipo]
@tipoPropiedad INT
AS
BEGIN

SELECT
  IdPropiedad,
  Descripcion,
  tipoPropiedad,
  Precio,
  Ambiente,
  ImagenPropiedad,
  IdDireccion,
  IdInmobiliaria
FROM
  Propiedades p
WHERE
  tipoPropiedad = @tipoPropiedad

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerInmobiliaria]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerInmobiliaria]
@IdInmobiliaria INT
AS
BEGIN

SELECT
  IdInmobiliaria,
  Nombre,
  Email,
  Telefono,
  Direccion,
  ImagenInmobiliaria,
  IdUsuario,
  Comision
FROM Inmobiliaria
WHERE IdInmobiliaria = @IdInmobiliaria;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUbicacion]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUbicacion]
@IdDireccion INT
AS
BEGIN

SELECT
  IdDireccion,
  IdUsuario,
  Calle,
  Altura,
  Barrio,
  Descripcion
FROM Ubicacion
WHERE IdDireccion = @IdDireccion;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuario]    Script Date: 16/11/2023 14:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUsuario]
@IdUsuario INT
AS
BEGIN

SELECT
  IdUsuario,
  UserName,
  Contraseña,
  Nombre,
  Email,
  Telefono
FROM Usuario
WHERE IdUsuario = @IdUsuario;

END;
GO
