<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>¿Donde desea comprar o alquilar una casa?</h3> <img class="imgBelga"
    src="https://thumbs.dreamstime.com/b/buenos-aires-puerto-madero-en-la-noche-52442505.jpg">
  <div class="btn-group" role="group"> <button id="btnGroupDrop1" type="button"
      class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Inmuebles </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
    <a class="dropdown-item" href="#">Casa</a> 
    <a class="dropdown-item" href="#">PH</a> 
    <a class="dropdown-item" href="#">Departamento</a> 
    <a class="dropdown-item" href="#">Duplex</a>
    </div>

    <div class="btn-group" role="group"> <button id="btnGroupDrop1" type="button"
      class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ambientes </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
    <a class="dropdown-item" href="#">1 ambiente</a> 
    <a class="dropdown-item" href="#">2 ambientes</a> 
    <a class="dropdown-item" href="#">3 ambientes</a> 
    <a class="dropdown-item" href="#">4 ambientes o mas</a>

    <div class="btn-group" role="group"> <button id="btnGroupDrop1" type="button"
      class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ubicacion </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
    <a class="dropdown-item" href="#">Belgrano</a> 
    <a class="dropdown-item" href="#">Caballito</a> 
    <a class="dropdown-item" href="#">Nordelta</a> 
    <a class="dropdown-item" href="#">Palermo</a>
    <a class="dropdown-item" href="#">Recoleta</a> 
    <a class="dropdown-item" href="#">San Telmo</a> 
    <a class="dropdown-item" href="#">San Isidro</a> 
    <a class="dropdown-item" href="#">Vicente López</a>
    <a class="dropdown-item" href="#">Villa Urquiza</a>
    </div>
    </div>
  </div>
</body>

</html>