<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>¿Donde desea comprar o alquilar una casa?</h3> <img class="imgBelga"
    src="https://thumbs.dreamstime.com/b/buenos-aires-puerto-madero-en-la-noche-52442505.jpg">
  <div class="btn-group" role="group"> <button id="btnGroupDrop1" type="button"
      class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Inmuebles </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
    <li><a class="dropdown-item" href="#">Casa</a> </li>
   <li> <a class="dropdown-item" href="#">PH</a> </li>
    <li><a class="dropdown-item" href="#">Departamento</a> </li>
    <li><a class="dropdown-item" href="#">Duplex</a> </li>
    </ul>
    </div>

    <div class="btn-group" role="group"> <button id="btnGroupDrop1" type="button"
      class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ambientes </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
    <li><a class="dropdown-item" href="#">1 ambiente</a> </li>
    <li><a class="dropdown-item" href="#">2 ambientes</a> </li>
    <li><a class="dropdown-item" href="#">3 ambientes</a> </li>
    <li><a class="dropdown-item" href="#">4 ambientes o mas</a></li>
    </ul>
    </div>

    <div class="btn-group" role="group"> <button id="btnGroupDrop1" type="button"
      class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ubicacion </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
    <li><a class="dropdown-item" href="#">Belgrano</a></li> 
    <li><a class="dropdown-item" href="#">Caballito</a></li>
    <li><a class="dropdown-item" href="#">Nordelta</a> </li>
    <li><a class="dropdown-item" href="#">Palermo</a> </li>
    <li><a class="dropdown-item" href="#">Recoleta</a> </li>
    <li><a class="dropdown-item" href="#">San Telmo</a> </li>
    <li><a class="dropdown-item" href="#">San Isidro</a> </li>
    <li><a class="dropdown-item" href="#">Vicente López</a> </li>
    <li><a class="dropdown-item" href="#">Villa Urquiza</a> </li>
    </ul>
    </div>
</body>

</html>