
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comprar</title>
 </head>
 <body>
  <div class="TituloVender">
      <h1>¿Quiere comprar una propiedad?</h1>
      </div>
      <div class="TituloVender1">
      <h6>Porfavor complete los datos, Una vez llenado el formulario nos contactaremos para cerrar la compra</h6>
      </div>
<form method="post" action='@Url.Action("VerMensaje","Home")'>
 <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input type="text" class="form-control"autocomplete="off" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Apellido</label>
    <input type="text" class="form-control"autocomplete="off" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Numero de Telefono</label>
    <input type="text" class="form-control"autocomplete="off" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control"autocomplete="off" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Numero tarjeta de credito</label>
    <input type="text" class="form-control"autocomplete="off" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Comprar</button>
</form>

 </body>
 </html>
 
 