<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/lol.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="car">
  <div class="conten">
    <p class="headin">Compra Realizada con Exito!
    </p><p class="paraf">
      Todos los datos de tu compra te llegaran a tu Email, te contactaras en breves con la inmobiliaria para terminar de cerrar acuerdos, gracias por confiar en nosotros!      
    </p>
        <a href='@Url.Action("Inicio","Home")'><button class="btn">Volver al Inicio</button></a>
  </div>
</div>
</body>
