@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Logeate:</p>
 <small class="text-muted"><a href='@Url.Action("Lol","Acount")'><button>Login</button></a></small>

  <small class="text-muted"><a href='@Url.Action("Sas","Acount")'><button>Iniciar Sesión</button></a></small>
