@{
    ViewData["Title"] = "Home Page";
}

<p>Bienvenido!</p>

<p>Logeate:</p>
 <small class="text-muted"><a href='@Url.Action("Registrarse","Acount")'><button>Registrarse</button></a></small>

  <small class="text-muted"><a href='@Url.Action("IniciarSesion","Acount")'><button>Iniciar Sesión</button></a></small>
