<!DOCTYPE html>
<html lang="en" class="inicio">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="IMGinicio">
    <h1 class="titulo">HomeWise</h1>
    <h6>Roni Chmielevsky, Mateo Sverdloff, Federico Biderman y Facundo Giraudi</h6>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://static.tokkobroker.com/pictures/8226617166475743695543550602465939410713985826039410722346296267214113160803.jpg"
            class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.adsttc.com/media/images/5ca5/8617/284d/d1a3/1e00/0234/newsletter/Casa_HC_Quesnel_arquitectos_Foto_08.jpg?1554351622"
            class="d-block w-100">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="Inicio">
    <div class="texto1">
      <h5>¿Quienes Somos?</h5>
      <p>HomeWise, la firma inmobiliaria líder, se distingue por sus valores fundamentales de excelencia, transparencia e
      innovación. Nuestra misión es optimizar la experiencia del cliente mediante soluciones eficientes respaldadas por
      tecnología de vanguardia, expandiendo nuestra cartera para satisfacer las diversas necesidades del mercado.
      Mantenemos altos estándares éticos, priorizando la formación continua de nuestro talentoso equipo y construyendo
      relaciones sólidas con clientes, socios y empleados. En HomeWise, la responsabilidad social y ambiental es
      intrínseca; buscamos implementar prácticas sostenibles y contribuir al desarrollo de las comunidades donde
      operamos. Más que una inmobiliaria, somos un agente de cambio comprometido con la excelencia y la contribución
      positiva a nuestro entorno.</p>

    </div>
    <div class="Inicio2">
    <div class="texto2">
      <h5>Nuestros objetivos</h5>
      <p>Una empresa inmobiliaria establece objetivos claros y alcanzables para consolidarse como líder en el mercado.
      Busca optimizar la experiencia del cliente mediante la implementación de procesos eficientes y tecnologías
      innovadoras que agilicen transacciones y mejoren la calidad del servicio. Además, se propone expandir su cartera
      de propiedades, diversificando su oferta para satisfacer las cambiantes demandas del mercado. La empresa aspira a
      mantener altos estándares éticos y de transparencia, cultivando relaciones sólidas y duraderas con clientes,
      socios y empleados. La formación y desarrollo continuo del personal son metas prioritarias, asegurando un equipo
      altamente capacitado y comprometido. En términos de responsabilidad social, la empresa busca implementar prácticas
      sostenibles y contribuir al desarrollo de las comunidades donde opera. Aspira a ser reconocida no solo por su
      éxito comercial, sino también por su impacto positivo en el entorno social y ambiental. Estos objetivos reflejan
      la visión a largo plazo de la empresa, orientada a ser un referente en el sector inmobiliario y a dejar una huella
      positiva en la sociedad.</p>
      </div>
      </div>
    <div class="texto3">
      <h5>Los valores de la empresa</h5>
      <p>Una empresa de bienes raíces se distingue por sus valores fundamentales que guían cada aspecto de su operación. La
      transparencia y la ética son pilares clave, asegurando relaciones sólidas con clientes, socios y empleados. La
      integridad en todas las transacciones y operaciones es no negociable. La excelencia y la innovación impulsan
      constantemente la búsqueda de soluciones inmobiliarias eficientes y creativas. El compromiso con la satisfacción
      del cliente es primordial, buscando superar expectativas y construir la confianza a largo plazo. El respeto por la
      diversidad, tanto en el equipo interno como en la clientela, se refleja en un ambiente inclusivo y enfoques
      personalizados. La responsabilidad social y ambiental también son valores clave, con la empresa comprometida a
      contribuir positivamente a las comunidades donde opera y minimizar su impacto ambiental. En resumen, la empresa de
      bienes raíces se esfuerza por ser más que un mero intermediario inmobiliario, siendo un agente de cambio positivo
      en la industria y en la sociedad en general.</p>
    </div>
  </div>

</body>

</html>