<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="TituloVender">
      <h1>Su formulario ha sido enviado con exito</h1>
      </div>
      <div class="TituloVender1">
      <h6>Pronto nos contactaremos con usted</h6>
      </div>
      <small class="text-muted"><a href='@Url.Action("inicio","Home")'><button type="button" class="btn btn-primary">Volver al inicio</button></a></small>
</body>
</html>