html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.Inicio{
margin-top: 100px;
}
.titulo{
  text-align: center;
  margin-bottom: 80px;
}
.IMGinicio img{
  max-height: 600px;
}
.Navbar{
  float: inline-end;
}
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    margin: 500px;
    cursor: pointer;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #050505; 
}