<link rel="stylesheet" href="/css/ac.css">
<div class="form">
    <form class="iao" method="post" action='@Url.Action("AgregarAcount","Acount")'>
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" name="nombre" class="input">
            <span>Nombre</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" name="username" class="input">
            <span>Usuario</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" name="email" class="input">
        <span>Email</span>
    </label> 

    <label>
        <input required="" placeholder="" type="text" name="telefono" class="input">
        <span>Telefono</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" name="contraseña" class="input">
        <span>Contraseña</span>
    </label>
    <input class="submit" type="submit"/>
    <p class="signin">¿Ya tenes una cuenta? <a href='@Url.Action("IniciarSesion","Acount")'>Sign in</a> </p>
</form>
</div>