
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/log.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="iao" method="post" action='@Url.Action("Login","Acount")'>
        <div class="form_container">
            <div class="logo_container">
            <img class = "logo_container" src="/lib/img/logo.jpg" alt="Logo" title="HomeWise">
            </div>
            <div class="title_container">
                <p class="">Inicia sesion con tu cuenta</p>
                <span class="subtitle">Logeate y disfruta de la experiencia que te brinda HomeWise.</span>
            </div>
            <br>
            <div class="input_container">
                <label class="input_label" for="username_field">Nombre de Usuario</label>
                <svg fill="none"  viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <!-- SVG path for username icon -->
                </svg>
                <input placeholder="Nombre de Usuario" autocomplete="off"title="Input title" name="username" type="text" class="input_field" id="username_field">
            </div>
            <div class="input_container">
                <label class="input_label" for="password_field">Contraseña</label>
                <svg fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="icon">
                </svg>
                <input placeholder="Contraseña" title="Input title" name="contraseña" type="password" class="input_field" id="password_field">
            </div>
            <button title="Sign In" type="submit" class="sign-in_btn">
                <span>Sign In</span>
            </button>
        </div>
    </form>

    <div class="separator">
        <hr class="line">
        <span>Or</span>
        <hr class="line">
    </div>

   <a class = "lol" href='@Url.Action("Registrarse","Acount")'>
    <button title="Register" type="submit" class="sign-in_ggl">Registrarse</button>
</a>

<br>
    <p class="note">Terms of use &amp; Conditions</p>
</body>
</html>

</html>


