<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action='@Url.Action("Inicio","Home")'>
    <p>@ViewBag.Error</p>
            <p> Username: </p>
        <div class="form-group 4">
            <input autocomplete="off" type="text" name="username"> 
        </div>

        <p> Constraseña: </p>
        <div class="form-group 4">
            <input autocomplete="off" type="password" name="contraseña"> 
        </div>

        <input  class="btn btn-success"  type="submit" name="">
    </form>
     <small class="text-muted"><a href='@Url.Action("Olvide","Acount")'><button>Olvide mi Contraseña</button></a></small>


</body>
</html>