<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bienvenido: @ViewBag.roni.Nombre</p>
    <small class="text-muted"><a href='@Url.Action("Inicio","Home")'><button>Ir al Inicio</button></a></small>
</body>
</html>
